/* home page */
.home-page {
    height: 100vh;
}

.header_wrap {
    border-bottom: 1px solid rgba(32, 33, 36, 0.28);
    padding-top: 5px;
    padding-bottom: 5px;
}

header {
    margin: 5px auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $textcolor;

    .logo {
        color: $purple;
        height: 35px;
        width: 35px;
    }

    aside {
        display: flex;
        justify-content: space-between;

        .header_wrap-dashboard {
            color: $purple;
        }

        div {
            cursor: pointer;
            margin: 0 7px;
            font-size: 0.8rem;
        }
    }
}

.intro-wrap {
    text-align: center;
}

.intro {
    margin: 70px auto;
    margin-bottom: 0;
    width: 85%;

    .intro-image {
        display: block;
        margin-top: 20px;
    }

    h2 {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 15px;
        font-weight: bolder;
        color: $purple;
    }

    p {
        text-align: center;
    }

    span {
        color: $purple;
    }

    Button {
        margin-top: 20px;
        border-radius: 10px;
    }
}

.home-page_dashboard {
    margin: 40px 0;

    h2 {
        text-align: center;
        font-weight: bolder;
        color: $purple;
        font-size: 1.2rem;
    }

    &_wrap {
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column-reverse;


        img {
            width: 100%;
            height: auto;
            border: 1px solid $purple;
        }
    }

    &_content {
        p {
            text-align: center;
            margin: 10px 0;
        }
    }
}

.home-page_profile {
    margin: 40px 0;

    h2 {
        text-align: center;
        font-weight: bolder;
        color: $purple;
        font-size: 1.2rem;
    }

    &_wrap {
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;


        img {
            width: 100%;
            height: auto;
            border: 1px solid $purple;
        }
    }

    &_content {
        p {
            margin: 10px 0;
            text-align: center;
        }
    }
}


.home-page_other-info {
    margin: 40px 0;

    h3 {
        font-weight: bold;
        font-size: 1.2rem;
        color: $purple;
        text-align: center;
    }

    .other-info-wrap {
        text-align: center;
        margin: auto;
        width: 90%;

        div {
            margin: 10px 0;
        }

        h4 {
            font-weight: bold;
            font-size: 1.05rem;
            color: $textcolor;
        }
    }
}

.footer {
    padding: 20px 0;
    border-top: 1px solid $purple;

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;
        width: 80%;

        li {
            color: $purple;
        }
    }
}



@media only screen and (min-width:700px) {
    header {
        width: 80%;

        aside {
            font-size: 1rem;

            div {
                margin: 0 7px;
                font-size: 1rem;
            }

            .privacy {
                margin: 0 15px;
            }
        }
    }

    .intro {
        margin: 90px auto;
        width: 70%;

        .intro-image {
            margin-top: 50px;
        }

        h2 {
            font-size: 1.7rem;
        }

        p {
            margin: auto;
            width: 60%;
        }
    }

    .home-page_dashboard {

        &_wrap {
            width: 55%;
        }
    }

    .home-page_profile {

        &_wrap {
            width: 55%;
        }
    }


    .home-page_other-info {

        .other-info-wrap {
            width: 50%;
        }

    }

    .footer {

        ul {
            width: 70%;

        }

    }
}

@media only screen and (min-width:1000px) {
    header {

        aside {
            font-size: 1.1rem;

            .privacy {
                margin: 0 25px;
            }
        }
    }

    .intro {
        margin: 120px auto;
        width: 60%;

        .intro-image {
            margin-top: 70px;
        }

        h2 {
            font-size: 1.9rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}

@media only screen and (min-width:1100px) {

    .intro {
        margin: 90px auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .intro-image {
            margin-top: 0px;
            width: 90%;
            margin-left: 20px;
        }

        h2 {
            font-size: 2.3rem;
            text-align: left;
            color: $purple;
        }

        p {
            font-size: 1.2rem;
            text-align: left;
            margin: auto;
            width: 100%;
        }
    }


    .home-page_dashboard {

        &_wrap {
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 20px;

            p {
                line-height: 2;
            }

            img {
                width: 90%;
            }
        }
    }

    .home-page_profile {

        &_wrap {
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 20px;
            gap: 20px;

            p {
                line-height: 2;

            }

            img {
                width: 90%;
            }
        }
    }


    .home-page_other-info {

        .other-info-wrap {
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

    }

}


@media only screen and (min-width:1300px) {
    header {

        aside {
            font-size: 1.3rem;

            .privacy {
                margin: 0 35px;
            }
        }
    }

    .intro {
        margin: 120px auto;


        h2 {
            font-size: 2.3rem;
        }

        p {
            font-size: 1.2rem;

        }
    }

    .footer {


        ul {
            width: 60%;

        }
    }



    @media only screen and (min-width:2000px) {
        header {
            width: 70%;

            aside {
                font-size: 1.4rem;

                .privacy {
                    margin: 0 45px;
                }
            }
        }

        .intro {
            margin: 170px auto;
            width: 60%;

            .intro-image {
                width: 80%;
                margin-left: 20px;
            }

            h2 {
                font-size: 2.4rem;
            }

            p {
                font-size: 1.3rem;

            }
        }

        .home-page_dashboard {

            &_wrap {
                width: 60%;

            }
        }

        .home-page_profile {

            &_wrap {
                width: 60%;

            }
        }


        .home-page_other-info {

            .other-info-wrap {
                width: 40%;
            }

        }
    }
}