.employee-page {
    .dashboard-auto {
        width: 90%;
    }

    .edit-section {
        // text-align: right;
        display: flex;
        justify-content: space-between;
        margin-top: -15px;

        Button {
            font-size: 0.7rem;
            width: 87px;
            height: 30px;
            border-radius: 7px;
        }
    }

    .employee-page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        color: $textcolor;
        margin-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid $bordecolor;

        img {
            width: 100px;
            height: 100px;
            border: 1px solid $textcolor;
            border-radius: 50%;
            padding: 5px;
        }

        div {
            h4 {
                &:first-child {
                    font-size: 1rem;
                    font-weight: bolder;
                }

                ;

                &:nth-child(2) {
                    color: $purple;
                }

                ;

                &:last-child {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .employee-wrap {
        h2 {
            color: $purple;
            font-weight: bolder;
        }
    }

    .employee-job-info {
        margin: 10px 0;

        .employee-job-info-grid:first-child {
            background-color: $textcolor;
        }
    }

    .employee-job-info-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;
        gap: 5px;

        h2 {
            font-size: 1rem;
        }

        h3,
        h4 {
            font-size: 0.8rem;
        }
    }

    .employee-contact-info {
        margin: 10px 0;
    }

    .employee-contact-info-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        h2 {
            font-size: 1rem;
        }

        h3,
        h4 {
            font-size: 0.8rem;
        }

        h3 {
            width: 120px;
            word-wrap: break-word;
        }

        ;

        h4 {
            width: 120px;
            word-wrap: break-word;
        }

    }

    .employee-personal-info {
        margin: 10px 0;
    }

    .employee-personal-info-grid {
        display: grid;
        grid-template-columns: 1fr;

        h3 {
            font-size: 0.8rem;
        }
    }

    .employee-notes-info {
        margin: 10px 0;

        h3 {
            text-align: left;
        }

        .employee-note {
            text-align: center;
            border: 1px solid $bordecolor;
            border-radius: 5px;

            h3 {
                padding: 5px;
                font-size: 0.8rem;
            }
        }
    }
}

@media only screen and (min-width:700px) {

    .employee-page {
        overflow-x: hidden;

        .dashboard-auto {
            width: 80%;
        }

        .edit-section {
            margin-top: -10px;
        }



        .employee-wrap {
            h2 {
                margin-bottom: 5px;
            }
        }




        .employee-contact-info {
            margin: 10px 0;
        }

        .employee-contact-info-grid {


            h3 {
                width: 100%;
            }

            ;

            h4 {
                width: 100%;
            }

        }



        .employee-notes-info {
            .employee-note {
                h3 {
                    font-size: 0.9rem;
                }
            }
        }
    }

}

@media only screen and (min-width:1000px) {
    .employee-page {
        .dashboard-auto {
            width: 75%;
        }

        .edit-section {
            margin-top: -5px;
        }



        .employee-wrap {
            h2 {
                font-size: 1.1rem;
            }
        }

        .employee-page-header {
            padding-bottom: 7px;


            div {
                h4 {
                    &:first-child {
                        font-size: 1.4rem;
                    }

                    ;

                    &:nth-child(2) {
                        font-size: 1.1rem;

                    }

                    ;

                    &:last-child {
                        font-size: 1rem;
                    }
                }
            }
        }


        .employee-job-info-grid {

            h3,
            h4 {
                font-size: 1rem;
            }
        }

        .employee-contact-info-grid {

            h3,
            h4 {
                font-size: 1rem;
            }
        }

        .employee-personal-info-grid {
            h3 {
                font-size: 1rem;
            }
        }

        .employee-notes-info {
            .employee-note {
                h3 {
                    font-size: 1rem;
                }
            }
        }
    }

}



@media only screen and (min-width:1300px) {
    .employee-page {
        .dashboard-auto {
            width: 70%;
        }

        .edit-section {
            margin-top: -10px;
        }



        .employee-wrap {
            h2 {
                font-size: 1.2rem;
            }
        }

        .employee-page-header {

            div {
                h4 {
                    &:first-child {
                        font-size: 1.5rem;
                    }

                    ;

                    &:nth-child(2) {
                        font-size: 1.2rem;

                    }

                    ;

                    &:last-child {
                        font-size: 1.1rem;
                    }
                }
            }
        }


        .employee-job-info-grid {
            h2 {
                font-size: 1.5rem;
            }

            ;

            h3,
            h4 {
                font-size: 1.1rem;
            }
        }

        .employee-contact-info-grid {
            h2 {
                font-size: 1.5rem;
            }

            ;

            h3,
            h4 {
                font-size: 1.1rem;
            }
        }

        .employee-personal-info-grid {
            h2 {
                font-size: 1.5rem;
            }

            ;

            h3 {
                font-size: 1.1rem;
            }
        }

        .employee-notes-info {
            .employee-note {
                h3 {
                    font-size: 1.1rem;
                }
            }
        }
    }

}




@media only screen and (min-width:2000px) {
    .employee-page {
        .dashboard-auto {
            width: 50%;
        }

        .edit-section {
            margin-top: -80px;
        }

        .employee-wrap {
            h2 {
                font-size: 1.6rem;
                margin-top: 25px;
            }
        }

        .employee-page-header {
            img {
                width: 200px;
            }

            div {
                h4 {
                    &:first-child {
                        font-size: 1.7rem;
                    }

                    ;

                    &:nth-child(2) {
                        font-size: 1.4rem;

                    }

                    ;

                    &:last-child {
                        font-size: 1.3rem;
                    }
                }
            }
        }


        .employee-job-info-grid {

            h3,
            h4 {
                font-size: 1.3rem;
            }
        }

        .employee-contact-info-grid {

            h3,
            h4 {
                font-size: 1.3rem;
            }
        }

        .employee-personal-info-grid {
            h3 {
                font-size: 1.3rem;
            }
        }

        .employee-notes-info {
            .employee-note {
                h3 {
                    font-size: 1.3rem;
                }
            }
        }
    }

}

/*/customer/:id*/

.single-customer-page {
    .employee-job-info-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .employee-contact-info {
        margin: 30px 0;
    }

}

/*/send-email*/

.dashboard-body {
    .single-email {
        top: 150px;
        bottom: 20px;
        text-align: left;
        position: relative;
        position: absolute;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 1px 6px 0 $bordecolor;
        z-index: 1;

        label {
            font-weight: bold;
            color: $purple;
            padding: 2px 5px;

        }

        Textarea {
            height: 250px;
            width: 300px;
            border-radius: 5px;
        }

        Button {
            margin-top: 5px;
            width: 70px;
            height: 30px;
        }

        .close-mail {
            position: absolute;
            top: -20px;
            left: 50%;
            color: $purple;
            font-weight: bolder;
            cursor: pointer;
            background: white;
        }
    }
}

;

@media only screen and (min-width:700px) {
    .dashboard-body {
        .single-email {
            top: 200px;
            right: 0;

            Textarea {
                width: 350px;
            }
        }
    }
}

@media only screen and (min-width:1100px) {
    .dashboard-body {
        .single-email {
            Textarea {
                height: 200px;
                width: 500px;
            }
        }
    }
}

@media only screen and (min-width:1400px) {
    .dashboard-body {
        .single-email {
            top: 300px;
        }
    }
}