@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$purple: rgb(118, 74, 188);

$textcolor: rgb(56, 63, 77);

body {
  line-height: 1.6;
  background: rgb(245, 246, 247);
  font-family: "Sen", sans-serif !important;
}

li {
  list-style: none;
}

.spinner-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 3px dashed #333;
  padding: 50px;
  border-radius: 50%;
  animation: spinner infinite ease 3s;
  position: relative;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);

  }

  100% {
    transform: rotate(360deg);

  }
}


/* SIGN UP PAGE  */

.form-wrap {
  margin: auto;
  width: 50%;
}

@import "./homepage";