@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.6;
  background: #f5f6f7;
  font-family: "Sen", sans-serif !important;
}

li {
  list-style: none;
}

.spinner-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 3px dashed #383f4d;
  padding: 50px;
  border-radius: 50%;
  -webkit-animation: spinner infinite ease 3s;
          animation: spinner infinite ease 3s;
  position: relative;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

textarea {
  font-family: "Sen", sans-serif;
}

.page-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  z-index: 1;
}

/* MAINHEADER.TSX*/
.mainheader-head {
  height: 100vh;
  background: #764abc;
  color: white;
  width: 200px;
  margin-left: -200px;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  position: fixed;
  border-radius: 0 5px 5px 0;
}

.mainheader-head ul {
  margin: auto;
  width: 80%;
}

.mainheader-head ul li {
  padding: 15px 0;
  font-size: 0.9rem;
}

.mainheader-head ul li:last-child {
  margin-top: 10vh;
}

.mainheader-head.open-hamburger {
  margin-left: 0px;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  z-index: 1;
}

.aside-header {
  position: absolute;
  top: 0;
  width: 100%;
}

.aside-header .header-page-title {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aside-header .aside-header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: rgba(32, 33, 36, 0.28) 1px solid;
}

.aside-header .aside-header-wrap h1 {
  font-weight: bold;
  color: #383f4d;
}

.aside-header .aside-header-wrap h1:first-child {
  margin-left: 15px;
  font-size: 1.5rem;
}

.aside-header .aside-header-wrap h1:last-child {
  margin-right: 15px;
}

.aside-header .hamburger {
  margin: 0 10px;
}

/* DASHBOARD.TSX*/
.edit-dashboard-btn {
  text-align: right;
  margin-top: -15px;
  margin-bottom: 10px;
}

.edit-dashboard-btn Button {
  height: 30px;
  border-radius: 5px;
  font-size: 0.7rem;
}

.dashboard-body {
  position: absolute;
  top: 60px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  z-index: -1;
}

.dashboard-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

.dashboard-item-wrap .dashboard_h3-firstchild {
  font-size: 0.9rem;
}

.dashboard-auto {
  margin: auto;
  width: 68%;
}

.dashboard-item {
  text-align: justify;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  padding: 10px 0;
  border-radius: 7px;
  color: #383f4d;
  cursor: pointer;
  width: 90%;
}

.dashboard-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.dashboard-item p {
  font-size: 0.8rem;
  margin: 10px auto;
  width: 80%;
}

.dashboard-item .todo {
  text-align: left;
}

.dashboard-item .customer-no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-item .customer-no p {
  font-size: 4rem;
  margin-left: 60px;
}

.dashboard-item .customer-no button {
  font-size: 0.6rem;
  margin: auto;
  width: 87px;
  height: 35px;
  border-radius: 7px;
  margin-top: -18px;
  margin-bottom: 9px;
}

.dashboard-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 90%;
  padding: 5px 0;
}

.dashboard-item-wrap i {
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 50%;
  padding: 7px;
  color: #764abc;
}

.dashboard-item-wrap h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #764abc;
}

.edit-dashboard-page textarea {
  height: 250px;
}

/* IPAD SCREEN */
@media only screen and (min-width: 700px) {
  .mainheader-head {
    color: white;
    width: 100px;
    margin-left: 0px;
    position: fixed;
  }
  .aside-header {
    left: 130px;
    width: 80%;
  }
  .aside-header .header-page-title {
    width: 100%;
  }
  .aside-header .aside-header-wrap .header-page-title {
    font-size: 1.6rem;
  }
  .aside-header .aside-header-wrap h1:first-child {
    margin-left: 18px;
  }
  .aside-header .hamburger {
    display: none;
  }
  .dashboard-body {
    left: 50px;
    width: 95%;
  }
  .dashboard-wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .dashboard-auto {
    margin: auto;
    width: 80%;
  }
  .dashboard-item p {
    font-size: 0.9rem;
  }
  .dashboard-item-wrap {
    width: 70%;
  }
}

/* small laptop and Ipad screen */
@media only screen and (min-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .mainheader-head {
    width: 180px;
  }
  .aside-header {
    left: 200px;
  }
  .aside-header .aside-header-wrap h1:first-child {
    font-size: 1.7rem;
  }
  .dashboard-body {
    left: 130px;
  }
  .dashboard-wrap {
    gap: 35px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .dashboard-auto {
    width: 80%;
  }
  .dashboard-item-wrap {
    width: 90%;
  }
  .dashboard-item-wrap h3 {
    font-size: 1rem;
  }
  .dashboard-item p {
    font-size: 1rem;
  }
}

/* small laptop and Ipad screen */
@media only screen and (min-width: 1200px) {
  .mainheader-head {
    width: 210px;
  }
  .aside-header {
    left: 240px;
  }
  .dashboard-body {
    top: 80px;
  }
  .dashboard-wrap {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .dashboard-auto {
    width: 65%;
  }
  .dashboard-item p {
    font-size: 1rem;
  }
}

/* large laptop*/
@media only screen and (min-width: 1400px) {
  .dashboard-body {
    left: 100px;
    top: 100px;
  }
  .dashboard-wrap {
    gap: 35px;
  }
  .dashboard-auto {
    width: 70%;
  }
  .dashboard-item p {
    font-size: 1rem;
  }
  .dashboard-item-wrap h3 {
    font-size: 1.2rem;
  }
}

/* large laptop*/
@media only screen and (min-width: 2000px) {
  .mainheader-head {
    margin-left: 400px;
  }
  .aside-header {
    left: 650px;
    width: 60%;
  }
  .aside-header .aside-header-wrap h1:first-child {
    margin-left: 18px;
    font-size: 2rem;
  }
  .aside-header .aside-header-wrap h1:last-child {
    font-size: 1.6rem;
  }
  .dashboard-body {
    left: 200px;
    top: 150px;
  }
  .dashboard-wrap {
    gap: 35px;
  }
  .dashboard-item-wrap .dashboard_h3-firstchild {
    font-size: 1.2rem;
  }
  .dashboard-auto {
    width: 50%;
  }
  .dashboard-item p {
    font-size: 1.2rem;
  }
}

.customers-page .dashboard-body .dashboard-auto .dashboard-wrap .dashboard-item p {
  font-size: 1rem;
  color: #383f4d;
}

.customers-page .dashboard-body .dashboard-auto .dashboard-wrap .dashboard-item h2 {
  color: #764abc;
}

/* send-mail*/
.send-mail-page .send-mail-header {
  text-align: center;
  color: #764abc;
  font-weight: bolder;
}

.send-mail-page .send-mail-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.send-mail-page .send-mail-wrap section {
  margin-top: 10px;
}

.send-mail-page .send-mail-wrap label {
  color: #764abc;
}

.send-mail-page .send-mail-wrap Textarea {
  height: 300px;
}

.send-mail-page .send-mail-wrap .emails h3 {
  color: #764abc;
}

.send-mail-page .send-mail-wrap .email-item {
  font-size: 0.8rem;
}

.send-mail-page .selected-mails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.send-mail-page .selected-mails h3 {
  color: #764abc;
}

@media only screen and (min-width: 700px) {
  .send-mail-page .send-mail-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    grid-gap: 50px;
    gap: 50px;
  }
  .send-mail-page .send-mail-wrap section {
    margin-top: 10px;
  }
  .send-mail-page .send-mail-wrap .email-item {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .send-mail-page .send-mail-header {
    margin-top: -20px;
  }
  .send-mail-page .send-mail-wrap {
    grid-gap: 100px;
    gap: 100px;
  }
  .send-mail-page .send-mail-wrap .email-item {
    font-size: 1.1rem;
  }
}

/*About Page*/
.about-page {
  text-align: justify;
}

.about-page h3 {
  color: #764abc;
}

.about-page-body {
  margin: auto;
  width: 90%;
  font-weight: bolder;
}

.about-page-body li {
  list-style: circle;
}

@media only screen and (min-width: 700px) {
  .about-page-body {
    width: 65%;
  }
}

@media only screen and (min-width: 1200px) {
  .about-page-body {
    width: 50%;
  }
}

@media only screen and (min-width: 1400px) {
  .about-page-body {
    width: 40%;
  }
}

/* home page */
.home-page {
  height: 100vh;
}

.header_wrap {
  border-bottom: 1px solid rgba(32, 33, 36, 0.28);
  padding-top: 5px;
  padding-bottom: 5px;
}

header {
  margin: 5px auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #383f4d;
}

header .logo {
  color: #764abc;
  height: 35px;
}

header aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header aside .header_wrap-dashboard {
  color: #764abc;
}

header aside div {
  cursor: pointer;
  margin: 0 7px;
  font-size: 0.8rem;
}

.intro-wrap {
  text-align: center;
}

.intro {
  margin: 70px auto;
  width: 85%;
}

.intro .intro-image {
  display: block;
  margin-top: 20px;
}

.intro h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bolder;
  color: #764abc;
}

.intro p {
  text-align: center;
}

.intro span {
  color: #764abc;
}

.intro Button {
  margin-top: 20px;
  border-radius: 10px;
}

@media only screen and (min-width: 700px) {
  header {
    width: 80%;
  }
  header aside {
    font-size: 1rem;
  }
  header aside div {
    margin: 0 7px;
    font-size: 1rem;
  }
  header aside .privacy {
    margin: 0 15px;
  }
  .intro {
    margin: 90px auto;
    width: 70%;
  }
  .intro .intro-image {
    margin-top: 50px;
  }
  .intro h2 {
    font-size: 1.7rem;
  }
  .intro p {
    margin: auto;
    width: 60%;
  }
}

@media only screen and (min-width: 1000px) {
  header aside {
    font-size: 1.1rem;
  }
  header aside .privacy {
    margin: 0 25px;
  }
  .intro {
    margin: 120px auto;
    width: 60%;
  }
  .intro .intro-image {
    margin-top: 70px;
  }
  .intro h2 {
    font-size: 1.9rem;
  }
  .intro p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1100px) {
  .intro {
    margin: 90px auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro .intro-image {
    margin-top: 0px;
    width: 90%;
    margin-left: 20px;
  }
  .intro h2 {
    font-size: 2.3rem;
    text-align: left;
    color: #764abc;
  }
  .intro p {
    font-size: 1.2rem;
    text-align: left;
    margin: auto;
    width: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  header aside {
    font-size: 1.3rem;
  }
  header aside .privacy {
    margin: 0 35px;
  }
  .intro {
    margin: 120px auto;
  }
  .intro h2 {
    font-size: 2.3rem;
  }
  .intro p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 2000px) {
  header {
    width: 70%;
  }
  header aside {
    font-size: 1.4rem;
  }
  header aside .privacy {
    margin: 0 45px;
  }
  .intro {
    margin: 170px auto;
    width: 60%;
  }
  .intro .intro-image {
    width: 80%;
    margin-left: 20px;
  }
  .intro h2 {
    font-size: 2.4rem;
  }
  .intro p {
    font-size: 1.3rem;
  }
}

/* SIGN UP PAGE AND LOGIN PAGES */
.form-wrap {
  margin: 20px auto;
  width: 90%;
}

.form-wrap button {
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
}

.form-wrap form {
  margin-top: 10px;
}

.login-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: auto;
  width: 90%;
}

@media only screen and (min-width: 700px) {
  .form-wrap {
    margin: 30px auto;
    width: 70%;
  }
  .login-wrap {
    width: 70%;
  }
}

@media only screen and (min-width: 700px) {
  .form-wrap {
    width: 100%;
    margin-left: -30px;
  }
  .login-wrap {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login-wrap img {
    width: 80%;
  }
}

@media only screen and (min-width: 1300px) {
  .login-wrap {
    width: 70%;
    margin-top: 70px;
  }
}

@media only screen and (min-width: 2300px) {
  .login-wrap {
    width: 60%;
    margin-top: 100px;
  }
  .form-wrap {
    width: 70%;
  }
}

/* employees directory page */
.employees-page .dashboard-auto {
  width: 60%;
  margin-top: 25px;
}

.employees-page header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employees-page header Input {
  width: 150px;
  height: 30px;
}

.employees-page header Button {
  height: 30px;
  border-radius: 7px;
  width: 83px;
  font-size: 0.8rem;
  margin-left: 10px;
}

.employees-page .dashboard-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #383f4d;
  margin: auto;
  width: 90%;
  padding: 20px 0;
}

.employees-page .dashboard-item img {
  border: 1px solid rgba(32, 33, 36, 0.28);
  border-radius: 50%;
  padding: 5px;
}

.employees-page .dashboard-item h2 {
  font-size: 1.2rem;
  font-weight: bolder;
}

.employees-page .dashboard-item p {
  font-size: 0.7rem;
  text-align: center;
  color: #764abc;
  width: 100%;
}

.employees-page .dashboard-item h5 {
  font-size: 0.8rem;
}

@media only screen and (min-width: 700px) {
  .employees-page .dashboard-body .dashboard-auto .dashboard-wrap .dashboard-item {
    text-align: center;
  }
  .employees-page .dashboard-body .dashboard-auto .dashboard-wrap .dashboard-item p {
    font-size: 1rem;
    text-align: center;
  }
  .employees-page header {
    width: 60%;
    margin-top: 10px;
  }
  .employees-page header Input {
    width: 250px;
  }
  .employees-page .dashboard-item {
    width: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  .employees-page header Input {
    width: 350px;
  }
  .employees-page header Button {
    height: 33px;
    width: 90px;
  }
  .employees-page .dashboard-item {
    width: 90%;
  }
}

@media only screen and (min-width: 2000px) {
  .employees-page .dashboard-auto {
    width: 50%;
  }
  .employees-page header {
    width: 50%;
  }
  .employees-page header Input {
    width: 400px;
  }
  .employees-page header Button {
    height: 35px;
    width: 100px;
    font-size: 0.9rem;
  }
}

.addemployee-page .add-employee-submit {
  text-align: center;
  margin-top: 7px;
}

.addemployee-page .add-employee-submit Button {
  font-size: 0.8rem;
  border-radius: 7px;
}

.employee-page .dashboard-auto {
  width: 90%;
}

.employee-page .edit-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -9px;
}

.employee-page .edit-section Button {
  font-size: 0.7rem;
  width: 87px;
  height: 30px;
  border-radius: 7px;
}

.employee-page .employee-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  color: #383f4d;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(32, 33, 36, 0.28);
}

.employee-page .employee-page-header img {
  width: 100px;
  border: 1px solid #383f4d;
  border-radius: 50%;
  padding: 5px;
}

.employee-page .employee-page-header div h4:first-child {
  font-size: 1rem;
  font-weight: bolder;
}

.employee-page .employee-page-header div h4:nth-child(2) {
  color: #764abc;
}

.employee-page .employee-page-header div h4:last-child {
  font-size: 0.8rem;
}

.employee-page .employee-wrap h2 {
  color: #764abc;
  font-weight: bolder;
}

.employee-page .employee-job-info {
  margin: 10px 0;
}

.employee-page .employee-job-info .employee-job-info-grid:first-child {
  background-color: #383f4d;
}

.employee-page .employee-job-info-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  place-items: center;
  gap: 5px;
}

.employee-page .employee-job-info-grid h2 {
  font-size: 1rem;
}

.employee-page .employee-job-info-grid h3,
.employee-page .employee-job-info-grid h4 {
  font-size: 0.8rem;
}

.employee-page .employee-contact-info {
  margin: 10px 0;
}

.employee-page .employee-contact-info-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.employee-page .employee-contact-info-grid h2 {
  font-size: 1rem;
}

.employee-page .employee-contact-info-grid h3,
.employee-page .employee-contact-info-grid h4 {
  font-size: 0.8rem;
}

.employee-page .employee-contact-info-grid h3 {
  width: 120px;
  word-wrap: break-word;
}

.employee-page .employee-contact-info-grid h4 {
  width: 120px;
  word-wrap: break-word;
}

.employee-page .employee-personal-info {
  margin: 10px 0;
}

.employee-page .employee-personal-info-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.employee-page .employee-personal-info-grid h3 {
  font-size: 0.8rem;
}

.employee-page .employee-notes-info {
  margin: 10px 0;
}

.employee-page .employee-notes-info h3 {
  text-align: left;
}

.employee-page .employee-notes-info .employee-note {
  text-align: center;
  border: 1px solid rgba(32, 33, 36, 0.28);
  border-radius: 5px;
}

.employee-page .employee-notes-info .employee-note h3 {
  padding: 5px;
  font-size: 0.8rem;
}

@media only screen and (min-width: 700px) {
  .employee-page {
    overflow-x: hidden;
  }
  .employee-page .dashboard-auto {
    width: 80%;
  }
  .employee-page .edit-section {
    margin-top: -10px;
  }
  .employee-page .employee-wrap h2 {
    margin-bottom: 5px;
  }
  .employee-page .employee-contact-info {
    margin: 10px 0;
  }
  .employee-page .employee-contact-info-grid h3 {
    width: 100%;
  }
  .employee-page .employee-contact-info-grid h4 {
    width: 100%;
  }
  .employee-page .employee-notes-info .employee-note h3 {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1000px) {
  .employee-page .dashboard-auto {
    width: 75%;
  }
  .employee-page .edit-section {
    margin-top: -5px;
  }
  .employee-page .employee-wrap h2 {
    font-size: 1.1rem;
  }
  .employee-page .employee-page-header {
    padding-bottom: 7px;
  }
  .employee-page .employee-page-header div h4:first-child {
    font-size: 1.4rem;
  }
  .employee-page .employee-page-header div h4:nth-child(2) {
    font-size: 1.1rem;
  }
  .employee-page .employee-page-header div h4:last-child {
    font-size: 1rem;
  }
  .employee-page .employee-job-info-grid h3,
  .employee-page .employee-job-info-grid h4 {
    font-size: 1rem;
  }
  .employee-page .employee-contact-info-grid h3,
  .employee-page .employee-contact-info-grid h4 {
    font-size: 1rem;
  }
  .employee-page .employee-personal-info-grid h3 {
    font-size: 1rem;
  }
  .employee-page .employee-notes-info .employee-note h3 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1300px) {
  .employee-page .dashboard-auto {
    width: 70%;
  }
  .employee-page .edit-section {
    margin-top: -10px;
  }
  .employee-page .employee-wrap h2 {
    font-size: 1.2rem;
  }
  .employee-page .employee-page-header div h4:first-child {
    font-size: 1.5rem;
  }
  .employee-page .employee-page-header div h4:nth-child(2) {
    font-size: 1.2rem;
  }
  .employee-page .employee-page-header div h4:last-child {
    font-size: 1.1rem;
  }
  .employee-page .employee-job-info-grid h2 {
    font-size: 1.5rem;
  }
  .employee-page .employee-job-info-grid h3,
  .employee-page .employee-job-info-grid h4 {
    font-size: 1.1rem;
  }
  .employee-page .employee-contact-info-grid h2 {
    font-size: 1.5rem;
  }
  .employee-page .employee-contact-info-grid h3,
  .employee-page .employee-contact-info-grid h4 {
    font-size: 1.1rem;
  }
  .employee-page .employee-personal-info-grid h2 {
    font-size: 1.5rem;
  }
  .employee-page .employee-personal-info-grid h3 {
    font-size: 1.1rem;
  }
  .employee-page .employee-notes-info .employee-note h3 {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 2000px) {
  .employee-page .dashboard-auto {
    width: 50%;
  }
  .employee-page .edit-section {
    margin-top: -80px;
  }
  .employee-page .employee-wrap h2 {
    font-size: 1.6rem;
    margin-top: 25px;
  }
  .employee-page .employee-page-header img {
    width: 200px;
  }
  .employee-page .employee-page-header div h4:first-child {
    font-size: 1.7rem;
  }
  .employee-page .employee-page-header div h4:nth-child(2) {
    font-size: 1.4rem;
  }
  .employee-page .employee-page-header div h4:last-child {
    font-size: 1.3rem;
  }
  .employee-page .employee-job-info-grid h3,
  .employee-page .employee-job-info-grid h4 {
    font-size: 1.3rem;
  }
  .employee-page .employee-contact-info-grid h3,
  .employee-page .employee-contact-info-grid h4 {
    font-size: 1.3rem;
  }
  .employee-page .employee-personal-info-grid h3 {
    font-size: 1.3rem;
  }
  .employee-page .employee-notes-info .employee-note h3 {
    font-size: 1.3rem;
  }
}

/*/customer/:id*/
.single-customer-page .employee-job-info-grid {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.single-customer-page .employee-contact-info {
  margin: 30px 0;
}

/*/send-email*/
.dashboard-body .single-email {
  top: 150px;
  bottom: 20px;
  text-align: left;
  position: relative;
  position: absolute;
  background: white;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  z-index: 1;
}

.dashboard-body .single-email label {
  font-weight: bold;
  color: #764abc;
  padding: 2px 5px;
}

.dashboard-body .single-email Textarea {
  height: 250px;
  width: 300px;
  border-radius: 5px;
}

.dashboard-body .single-email Button {
  margin-top: 5px;
  width: 70px;
  height: 30px;
}

.dashboard-body .single-email .close-mail {
  position: absolute;
  top: -20px;
  left: 50%;
  color: #764abc;
  font-weight: bolder;
  cursor: pointer;
  background: white;
}

@media only screen and (min-width: 700px) {
  .dashboard-body .single-email {
    top: 200px;
    right: 0;
  }
  .dashboard-body .single-email Textarea {
    width: 350px;
  }
}

@media only screen and (min-width: 1100px) {
  .dashboard-body .single-email Textarea {
    height: 200px;
    width: 500px;
  }
}

@media only screen and (min-width: 1400px) {
  .dashboard-body .single-email {
    top: 300px;
  }
}
/*# sourceMappingURL=App.css.map */